.multi-menu {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.multi-menu ul {
  display: block;
  min-height: 100%;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  display: block;
}

.multi-menu ul[data-id] {
  position: absolute;
  top: 0;
  left: 0;
}

[data-ul-id] {
  position: relative;
}
