.multi-menu {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.multi-menu ul {
  background-color: #FFF;
  display: block;
  min-height: 100%;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  display: block;
}

.multi-menu ul[data-id] {
  position: absolute;
  top: 0;
  left: 0;
}

[data-ul-id] {
  position: relative;
}

.multi-menu-arrow {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #333;
  position: absolute;
  right: 10px;
  top: 10px;
}
